<%- include('partials/header') %>

<div class="container mt-5 login">
  <h1 class="container ml-2 mb-3">
    That was successful. Please go to your email and follow the
    instructions.
  </h1>
  <div class="row mx-auto">
    <h5 class="text-danger container">
      <span class="mb-3">Next:</span> 
      <ol>
        <li>
          Check your inbox.
        </li>
        <li>
          If you can't find the email, please check your spam folder. 
        </li>
        <li>
          Not in spam? That could mean you signed up with a different address.
        </li>
      </ol>
    </h5>
    <div class="container mt-3">
    <div class="row">
        <a class="btn background-color-orange text-white" href="/">Continue Browsing</a>
        <a class="btn bg-dark text-white ml-auto" href="<%= linkMail %>">Go to mail</a>
      </div>
     
    </div>
  </div>
</div>

<%- include('partials/footer') %>
