<%- include('partials/header') %>
<div class="container mt-5 login">
  <h1 class="container mb-2">
    To Reset You Password, please enter your email below !
  </h1>
  <div class="row">
    <div class="col-sm-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <form action="/request-new-password" method="POST">
            <% if(err){%>
              <div class="py-3 mb-1 text-center text-danger">
                <b><%= err %></b>
              </div>
              <%}%>
            <div class="form-group">
              <label for="username">Email</label>
              <input type="email" class="form-control mt-2" name="username" />
            </div>
            <button type="submit" class="btn background-color-orange text-white">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
