<%- include('partials/header') %>

<div class="container mt-5 register">
  <h1 class="container ml-2">Enter you new Password</h1>
  <div class="row">
    <div class="col-sm-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <% if(err){%>
            <div class=" py-3 mb-1 text-center text-orange">
              <b><%= err %></b>
            </div>
            <%}%>
          <form action="/reset" method="POST">
            <div class="form-group">
              <label for="password">Password</label>
              <input required type="password" class="form-control" name="password" />
            </div>
            <input required type="hidden" name="tk" value="<%= tk %>" />
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input type="password" class="form-control" name="password" />
            </div>
            <button type="submit" class="btn background-color-orange text-white">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
